@import '../../index.scss';

.nav__box {
    display: flex;
}

.nav__img {
    display: block;
    width: 35px;
    height: 35px;
}

.nav__list {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav__list>*:not(:last-child) {
    margin: 0px 40px 0px 0px;
}

.nav__list-item {
    font-size: 12px;
    font-family: $font-family;
    font-weight: $font__coods-weits;
    line-height: 17.33px;

    a {
        text-decoration: none;
    }
}